@layer base {
    .reduxi-light {
        --background: 209 0% 95%;
        --foreground: 209 0% 0%;
        --card: 209 0% 90%;
        --card-foreground: 209 0% 10%;
        --popover: 209 0% 95%;
        --popover-foreground: 177 95% 0%;
        --primary: 174 87% 38%;
        --primary-foreground: 0 0% 100%;
        --secondary: 209 10% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: 210 10% 85%;
        --muted-foreground: 210 0% 35%;
        --accent: 210 10% 80%;
        --accent-foreground: 177 0% 10%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 177 0% 90%;
        --border: 177 20% 50%;
        --input: 177 20% 18%;
        --ring: 174 87% 38%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
    }

    .reduxi-dark {
        --background: 209 27% 15%;
        --foreground: 177 10% 96.75%;
        --card: 210 24% 24%;
        --card-foreground: 177 10% 96.75%;
        --popover: 209 27% 15%;
        --popover-foreground: 177 10% 96.75%;
        --primary: 174 87% 38%;
        --primary-foreground: 177 10% 96.75%;
        --secondary: 209 50% 10.5%;
        --secondary-foreground: 177 10% 96.75%;
        --muted: 210 24% 24%;
        --muted-foreground: 210 10% 53.5%;
        --accent: 210 24% 24%;
        --accent-foreground: 177 10% 96.75%;
        --destructive: 0 50% 30%;
        --destructive-foreground: 177 0% 90%;
        --border: 210 24% 24%;
        --input: 210 24% 24%;
        --ring: 174 87% 38%;
        --radius: 0.5rem;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}
